# Publish a release to PyPI.

name: "Publish to PyPI"

on:
  release:
    types: [published]

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit
  publish:
    runs-on: ubuntu-latest
    needs: call-ci
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: dist/
          merge-multiple: true
          pattern: cibw-*

      - name: Publish distribution to PyPI
        if: github.event.release.prerelease == false
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: get wasm dist artifacts
        uses: actions/download-artifact@v6
        with:
          name: wasm_wheel
          path: wasm/

      - name: upload to github release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            wasm/*.whl
          prerelease: ${{ contains(github.ref, '-pre') }}
