name: Test

on:
  workflow_call:

jobs:
  call-lint:
    uses: ./.github/workflows/static.yml

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, ubuntu-24.04-arm, macos-15-intel]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: >-
            dev
            docs
            nogil
            low
          cache: true

      - name: Re-install local
        run: |
          pixi reinstall -e dev --frozen fastcan
          pixi reinstall -e docs --frozen fastcan
          pixi reinstall -e nogil --frozen fastcan
          pixi reinstall -e low --frozen fastcan

      - name: Test with pytest
        run: |
          pixi run -e dev test
          pixi run -e low test
      - name: Test with doctest
        if: matrix.os == 'ubuntu-latest'
        run: |
          pixi run -e docs doc-build
          pixi run -e docs doc-build sphinx-build doctest
      - name: Test nogil
        run: |
          pixi run -e nogil nogil-eta
      - name: Test coverage
        if: matrix.os == 'ubuntu-latest'
        run: |
          pixi run -e dev test-coverage xml
      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
